/* nav section  */
@media screen and (max-width: 576px) {
    .nav-container ul{
        display: none;
    }
    .hambarger-menu{
        display: block;
        align-items: center;
        padding: 0px 10px;
        font-size: 25px;
    }
    /* banner section  */
    .banner-container{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
    .banner-content h1{
        font-size: 40px;
    }
    .banner-content p{
        text-align: justify;
    }
    .banner-content-btn{
        display: flex;
        /* flex-direction: column; */
    }
    .btn, .download-btn{
        font-size: 13px;
    }
    .banner-img{
        width: 100%;
    }
    .banner-img img{
        width: 80%;
    }
    .template1{
        bottom: 50px;
        left: 20px;
    }
    .template1 h1{
        font-size: 18px;
    }
    .template1 p{
        font-size: 10px;
    }
    .templete1-circle{
        width: 20px;
        height: 20px;
    }
    .template2{
        top: 40px;
        right: 15px;
    }
    .template2 h1{
        font-size: 18px;
    }
    .template2 p{
        font-size: 10px;
    }
    /* change habit */
    .change-habit-text p{
        width: 95%;
    }
    .change-habit-img{
        flex-direction: column;
    }
    /* extra ran section  */
    .run-extra-section-container{
        flex-direction: column;
    }
    .extra-section-text{
        width: 100%;
    }
    .extra-section-text h1{
        width: 100%;
        font-size: 40px;
    }
    .extra-section-text p{
        width: 100%;
    }
    .extra-section-btn{
        width: 100%;
        padding: 15px;
    }
    .extra-section-img{
        width: 100%;
        margin-top: 20px;
    }
    /* meet our team section  */
    .meet-our-team-img{
        grid-template-columns: repeat(1, 1fr);
    }

}