@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miami');
*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #111111FF;
}
/* nav section  */
.nav-container{
    border: 2px solid red;
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    color: white;
}
.hambarger-menu{
    display: none;
}
.nav-container ul{
    display: flex;
    width: 45%;
    border: 2px solid black;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
    /* column-gap: 40px; */
}
.nav-container ul a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.nav-container h2{
    font-size: 30px;
    color: #E6533C;
}
.btn{
    padding: 8px 20px;
    border-radius: 12px;
    background-color: #E6533C;
    color: white;
    font-size: 16px;
}
/* banner section  */
.banner-container{
    max-width: 1440px;
    border: 2px solid blue;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-content{
    color: white;
    width: 50%;
    border: 2px solid red;
}
.banner-content h1{
    font-size: 70px;
    font-weight: 900;
}
span{
    font-family: maiam;
}
.banner-content p{
    margin: 25px 0;
}
.download-btn{
    margin-left: 20px;
    padding: 8px 20px;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    background-color:#111111FF;
    border: 1px solid white;
}
.banner-img{
    width: 50%;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    color: white;
    border: 2px solid blue;
    position: relative;
}
.template1{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    align-items: center;
    border: 2px solid red;
    /* width: 20%; */
    height: 20%;
    background-color: #5d5c5c8a;
    border-radius: 12px;
    padding: 5px 15px;
    position: absolute;
    bottom: 80px;
    left: 250px;
}
.templete1-circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #E6533C;
}
.template2{
    border: 2px solid red;
    /* width: 20%; */
    height: 20%;
    background-color: #5d5c5c8a;
    border-radius: 12px;
    padding: 15px;
    position: absolute;
    top: 100px;
    right: 10px;
}
/* change habits section  */
.change-habit-container{
    max-width: 1440px;
    margin: 40px auto;
    border: 2px solid green;
    color: white;
    text-align: center;
}
.change-habit-text p{
    width: 40%;
    margin: 20px auto;
}
.change-habit-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid red;
    margin-top: 40px;
    gap: 40px;
}
.img1-container, .img2-container, .img3-container, .img4-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid blueviolet;
    padding: 10px 20px ;
}
.img1-container img, .img2-container img, .img3-container img, .img4-container img{
    border: 2px solid red;
    border-radius: 50%;
    margin-bottom: 20px;
}
.img1-container p, .img2-container p, .img3-container p, .img4-container p{
    width: 75%;
    margin-top: 15px;
}

