@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miami');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #111111FF;
}

/* nav section  */
.nav-container {
    /* border: 2px solid red; */
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    color: white;
}

.hambarger-menu {
    display: none;
}

.nav-container ul {
    display: flex;
    width: 45%;
    /* border: 2px solid black; */
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    align-items: center;
}

.nav-container ul a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.nav-container h2 {
    font-size: 30px;
    color: #E6533C;
    font-style: italic;
}

.btn {
    padding: 8px 20px;
    border-radius: 12px;
    background-color: #E6533C;
    color: white;
    font-size: 16px;
}

/* banner section  */
.banner-container {
    max-width: 1440px;
    /* border: 2px solid blue; */
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    color: white;
    width: 50%;
    /* border: 2px solid red; */
}

.banner-content h1 {
    font-size: 60px;
    font-weight: 900;
}

span {
    font-family: maiam;
    font-style: italic;
}

.banner-content p {
    margin: 25px 0;
}

.download-btn {
    margin-left: 20px;
    padding: 20px 25px;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    background-color: #111111FF;
    border: 1px solid white;
}
.download-btn:hover{
    border: 2px solid aqua;
    transform: rotate(360deg);
}
@keyframes forBtn {
    from{
        background: radial-gradient(#E6533C, rgb(8, 193, 150));
        
    }
    to{
        border: 2px solid aqua;
        background: radial-gradient(rgb(15, 204, 138), #E6533C);
    }
}
.join-btn {
    
    /* margin-left: 20px; */
    padding: 20px 25px;
    border-radius: 12px;
    color: white;
    font-size: 16px;
    background-color: #E6533C;
    /* border: 1px solid tomato; */
    animation-name: forBtn;
    animation-duration: .7s;
    animation-iteration-count: infinite;
}

.banner-img {
    width: 50%;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    color: white;
    position: relative;
}

.template1 {
    display: flex;
    gap: 10px;
    align-items: center;
    border: 2px solid red;
    background-color: #5d5c5c8a;
    border-radius: 12px;
    padding: 15px;
    position: absolute;
    bottom: 20%;
    left: 35%;
}

.templete1-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #E6533C;
}

.template2 {
    border: 2px solid red;
    /* width: 20%; */
    /* height: 20%; */
    background-color: #5d5c5c8a;
    border-radius: 12px;
    padding: 15px;
    position: absolute;
    top: 23%;
    right: 2%;
}

/* change habits section  */
.change-habit-container {
    max-width: 1440px;
    margin: 40px auto;
    /* border: 2px solid green; */
    color: white;
    text-align: center;
}

.change-habit-text h1 {
    font-size: 40px;
    font-weight: 800;
}

.change-habit-text p {
    width: 40%;
    margin: 20px auto;
}

.change-habit-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    margin-top: 40px;
    gap: 40px;
}

.img1-container,
.img2-container,
.img3-container,
.img4-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}

.img1-container img,
.img2-container img,
.img3-container img,
.img4-container img {
    border: 1px solid gray;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.img1-container p,
.img2-container p,
.img3-container p,
.img4-container p {
    width: 75%;
    margin-top: 15px;
}

/* run extra section  */
.run-extra-section-container {
    max-width: 1440px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    background-color: #5d5c5c8a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra-section-text {
    color: white;
    width: 50%;
}

.extra-section-text h1 {
    font-size: 60px;
    width: 80%;
}

.extra-section-text p {
    margin: 25px 0px;
    width: 65%;
    text-align: justify;
    line-height: 30px;
}

.extra-section-btn {
    padding: 20px 70px;
    border-radius: 30px;
    background-color: #E6533C;
    color: white;
    font-size: 20px;
    font-weight: 600;
    animation-name: forBtn;
    animation-duration: 0.7s;
    animation-iteration-count: infinite
}

.extra-section-img {
    width: 50%;
}


.extra-section-img img {
    width: 100%;
    border-radius: 12px;
}

/* meet our team section  */
.meet-our-team-section {
    color: white;
    max-width: 1440px;
    margin: 40px auto;
}

.meet-our-team-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.meet-our-team-text h1 {
    font-size: 40px;
    font-weight: 800;
}

.meet-our-team-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    background-color: #5d5c5c8a;
    padding: 15px;
    border-radius: 12px;
    margin-top: 40px;
}

.img {
    width: 100%;
    height: 100%;
}

.meet-our-team-img img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
}

.trainer1,
.trainer2,
.trainer3,
.trainer4,
.trainer5,
.trainer6 {
    position: relative;
}

.jerome,
.cameron,
.darell,
.dianne,
.cody,
.theresa {
    position: absolute;
    line-height: 30px;
    bottom: 5%;
    left: 5%;
}

/* training and exercise section  */
.training-and-exercise-section {
    max-width: 1440px;
    margin: 40px auto;
    color: white;
}

.training-and-exercise-section h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

.training-and-exercise-img {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 600px;
    background-color: white;
    margin-top: 50px;
}

.training-and-exercise-img1 {
    grid-column: auto / span 3;
    background-image:linear-gradient(rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url("../images/exercise1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.training-and-exercise-img2 {
    grid-column: auto / span 6;
    background-image: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)),url("../images/exercise2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.training-and-exercise-img3 {
    grid-column: auto / span 3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../images/exercise3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.training-and-exercise-img4 {
    grid-column: 1 / span 5;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../images/exercise4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.training-and-exercise-img5 {
    grid-column: 6 / span 3;
    background-image: linear-gradient( rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)),url("../images/exercise5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.training-and-exercise-img6 {
    grid-column: 9 / span 4;
    background-image: linear-gradient( rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)),url("../images/exercise6.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* BMI Calculator section  */
.b-m-i-calculator-section {
    background-color: #3534348a;
    color: white;
    margin: 40px auto;
    padding: 10px 0;
    border-radius: 12px;
}

.calculator-content {
    display: flex;
    max-width: 1440px;
    margin: 40px auto;
    justify-content: space-between;
    padding: 10px 0;
}

.calculator-text {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

.calculator-text h1 {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}

.calculator-chart {
    width: 50%;
}
.table{
    height: 60%;
}

.table, .table th, .table td {
    border: 1px solid white;
    border-collapse: collapse;
    width: 50%;
}

th,
td {
    text-align: start;
    padding-left: 30px;
}
th{
    font-size: 20px;
}

.calculator-chart h1 {
    margin: 0 0 50px 0;
    font-size: 30px;
    font-weight: 900;
}

.calculator-form {
    width: 50%;
}

.calculator-form h1 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}

.calculator-form p {
    margin-bottom: 40px;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}
::placeholder{
    color: black;
}

.box {
    height: 50px;
}

.box-5 {
    grid-column: 1 / span 2;
}

input , select{
    background-color: #5d5c5c8a;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-size: 25px;
}




/* extra section  */
.fiteness-and-health-section{
    color: white;
    position: relative;
    background-color: rgb(29, 44, 44);
    max-width: 1440px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    padding: 200px 20px;
    border-radius: 20px;
}
.fiteness-and-health-section-content{
    width: 65%;
}
.fiteness-and-health-section-content-title{
    text-align: right;
    line-height: 50px;
    margin-bottom: 40px;
}
.fitness-and-health-btn{
    background-color: rgb(29, 44, 44);
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 20px;
}
.fiteness-and-health-section-content-title h1{
    font-size: 50px;
}
.fiteness-and-health-section-content-title h4{
    font-size: 25px;
    color: tomato;
}
.p-1{
    font-size: 20px;
}
.p-2, .p-3{
    line-height: 30px;
    margin-top: 25px;
}
.fiteness-and-health-section-img{
    width: 33%;
    position: absolute;
    bottom: 0px;
    right: 10px;
}
.fiteness-and-health-section-img img{
    width: 100%;
    border-radius: 20px;
    bottom: 0px;
}
/* features classes  */
.our-features-classes{
    max-width: 1440px;
    background-color: mediumaquamarine;
    margin: 0px auto;
    color: white;
    padding: 100px 10px 20px 10px;
    border-radius: 8px;
}
.heavy-weight-div-class{
    margin: 100px 0px 0px 0px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.our-features-classes-title{
    text-align: center;
    line-height: 50px;
}
.our-features-classes-title h1{
    font-size: 40px;
}
.our-features-classes-title p{
    font-size: 20px;
}
.heavy-weight-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.heavy-weight-div-img{
    transform: rotate(45deg);
    background-color: tomato;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -14%;
}
.fa-dumbbell, .fa-bicycle{
    font-size: 60px;
    transform: rotate(-45deg);
}
.body-building{
    color: white;
}
.heavy-weight-div-text{
    background-color: rgb(24, 24, 46);
    width: 100%;
    padding: 100px 30px 50px 30px;
    border-radius: 0 70px 0 40px;
}
.heavy-weight-div-text h1{
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
}
.heavy-weight-div-text p{
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
}
/* footer section  */
.footer-section {
    background-color: #5d5c5c8a;
    padding-bottom: 30px;
}

.footer-container {
    max-width: 1440px;
    gap: 30px;
    color: white;
    margin: 20px auto 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.footer-container div li {
    list-style: none;
    margin-top: 15px;
}

.footer-box1 {
    width: 30%;
}

.footer-box1 h1 {
    margin-bottom: 20px;
    font-size: 50px;
    font-style: italic;
    color: #E6533C;
}

.footer-box1 p {
    line-height: 30px;
}

.hr {
    max-width: 1440px;
    margin: 0px auto;
}

.hr hr {
    width: 90%;
    margin: 20px auto;
}

small {
    text-align: center;
    display: block;
    margin: 20px auto 0px auto;
    color: white;
}